* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
  background-color: dimgray;
}

.replies {
  margin-left: 50px;
}

.reply {
  border: 1px dotted black;
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 2px solid black;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  font-size: 10.5px;
}

#submitNewThread {
  margin: 50px;
}

#if_container {
  width: 100%;
  height: 100%;
  
  overflow-x: hidden;
}

#iframe {  
  background-color: white ;
  position: relative;
  height: 97.9vh;
  width: 90%;
  margin-left: 5%;
  border: 1px solid black;
}