* {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 10px;
}

.replies {
  margin-top: 5px;
  margin-left: 50px;
}

.reply {
  border: 3px inset lightblue; /*black*/
  margin: 5px;
  padding: 5px;
}

.newReply {
  margin: 10px 5px 10px 5px;
}

.thread {
  border: 5px ridge;
  padding: 5px;
  margin-bottom: 5px;
}

.id {
  text-align: right;
  margin-top: 0px;
  float: right;
  font-size: 10.5px;
  width: 165px;
}

.reply > .id {
  margin-top: 0px;
}

#submitNewThread {
  margin: 50px;
}

#reportThread, #reportReply {
  margin-top: 2px;
}

.reply > p:last-child {
  margin-top: 5px;
}

.main > h3 {
  width: 80%;
}

.list {
  margin-left: 40px;
  list-style-type: circle;
}

#if_container {
  margin-top: -5px;
  padding-bottom: 23px;
  width: 100%;
  height: auto;
  background-color: #ccffff;
  background-image: url('https://www.publicdomainpictures.net/pictures/100000/velka/old-wooden-background-1409242795ze8.jpg');
  overflow: hidden;
}

#iframe { 
  margin-top: 20px;
  background-color: white !important;
  position: relative;
  height: 95vh;
  width: 90%;
  margin-left: 5%;
  border: 2px solid black;
}